# Copy this file name as secrets.yml in config folder and setup your username password and database name
development:
  username: "root"
  password: ""
  database: ""

test:
  username: "root"
  password: ""
  database: ""

production:
  username: "root"
  password: ""
  database: ""
